<div class="search-users-wrapper">
    <div>
        <img class="user-img" src="./img/user/iu.jpg">
    </div>
    <div class="search-users-profile">
        <div class="users-id">
            아이디
        </div>
        <div class="users-summary">
            자기소개
        </div>
        <ul class="users-travel-info">
            <li class="travel-diary">
                <i class="fa fa-book"></i>
                여행기 <span>0</span>
            </li>
            <li class="travel-country">
                <i class="fa fa-map-marker"></i>
                여행국가 <span>0</span>
            </li>
        </ul>
    </div>
</div>