<footer>
    <div class="footer-wrapper">
        <div class="footer-logo-sns">
            <div class="footer-logo">
                Y●L●
            </div>
            <ul class="footer-sns-icon">
                <li><i class="fa fa-facebook"></i></li>
                <li><i class="fa fa-instagram"></i></li>
                <li><i class="fa fa-google"></i></li>
            </ul>
        </div>
        <div class="select-box">
            <ul class="select-lang">
                <li class="lang-kor active">
                    <img class="icon-lang" src="../img/flag/kor.png">
                    <span class="name-lang">한국어</span>
                    <span class="select-btn active">▼</span>
                </li>
                <li class="lang-eng">
                    <img class="icon-lang" src="../img/flag/usa.png">
                    <span class="name-lang">ENGLISH</span>
                    <span class="select-btn">▼</span>
                </li>
            </ul>
        </div>
        <ul class="footer-notice">
            <li>볼로소개</li>
            <li>공지사항</li>
            <li>이용약관</li>
            <li>개인정보처리방침</li>
        </ul>
        <ui class="footer-right-box">
            <li>
                <img class="google-badge" src="../img/badge_googleplay.png">
            </li>
            <li>
                <img class="apple-badge" src="../img/badge_appstore.png">
            </li>
        </ui>
        <div class="footer-info">
            대표이사 김대표 개인정보책임자 이책임<br>
            사업자등록번호 123-45-67890 통신판매업 2017-서울마포-00000 사업자정보확인<br><br>
            연락처 02-1234-1234 (평일 오전 10시~오후 6시)<br>
            주소 (00000) 서울특별시 마포구 백범로 거구장 B1<br>
            <span>support@yolo.com</span>
            <p>COPYRIGHT ⓒ SC TECHX. All RIGHTS RESERVED.</p>
        </div>
    </div>
</footer>
