<!DOCTYPE html>
<header>
  <div class="header-logo">Y●L●</div>
  <div class="header-search-box">
    <div class="header-search-icon">
      <i class="fa fa-search"></i>
    </div>
    <button class="header-bt">
      시작하기
    </button>
  </div>
</header>
