<header>
    <div class="header-container">
        <div class="header-logo">VoLo</div>
        <div>
            <div class="header-search">
                <i class="fa fa-search"></i>
            </div>
            <div class="header-login">시작하기</div>
        </div>
    </div>
</header>