<div class="member-layer">
    <div class="layer-remove"><i class="fa fa-remove"></i></div>
    <div class="layer-profile">
        <div class="layer-photo-wrapper"><img class="layer-photo" src="../img/user/iu.jpg"></div>
        <div class="layer-id">IDIDIDID</div>
        <div class="layer-addr">ididid@dididi.com</div>
    </div>
    <div>
        <button class="layer-btn">마이 페이지</button>
    </div>
    <div class="layer-middle">
        <ul class="layer-nation">
            <li></li>
        </ul>
        <div class="layer-diary">
            <div><i class="fa fa-newspaper-o"></i> 여행기</div>
            <span>0</span>
        </div>
        <div class="layer-visited">
            <div><i class="fa fa-map-marker"></i> 여행국가</div>
            <span>0</span>
        </div>
    </div>
    <div class="layer-logo">------- YoLo -------</div>
    <ul class="layer-lists">
        <li>공지사항</li>
        <li>비밀번호 변경</li>
        <li>이용해지하기</li>
        <li class="signout-btn">로그아웃</li>
    </ul>
</div>