<tr>
    <td><input type="text" class="ha-area-id" value="{{id}}"></td>
    <td><input type="text" class="ha-area-name" value="{{name}}"></td>
    <td><input type="text" class="ha-area-main-title" value="{{{mainTitle}}}"></td>
    <td><input type="text" class="ha-area-sub-title" value="{{{subTitle}}}"></td>
    <td>
        <button class="ha-btn-row ha-apply-row btn btn-xs btn-success">
            적용
        </button>
        <button class="ha-btn-row ha-cancel-row btn btn-xs btn-default">
            취소
        </button>
    </td>
</tr>