@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

@font-color: #333;
@main-color: #ff7676;
@logo-size: 45px;
@logo-letter-spacing: -7px;
@body-min-width: 1220px;

html {
  height: 100%;
  min-width: @body-min-width;
  overflow-x: hidden;
}

body {
  position: relative;
  min-width: @body-min-width;
  color: @font-color;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h2, p, li, button, div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

button {
  width: 272px;
  height: 50px;
  background-color: transparent;
  font-size: 17px;
  border: solid 1px #555;
  border-radius: 25px;
  outline: none;
}

input:not(.sign-up) {
  width: 550px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  outline: none;
}

input::-webkit-input-placeholder {
  color: #ccc;
}

.dark-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.1);
}

/////////////////////////
.overlay-layer {
  z-index: 2000;
}

.ht-member-layer {
  position: fixed;
  top: 0px;
  left: -333px;
  width: 333px;
  height: 100%;
  background-color: #ebebeb;
  z-index: 5000;
  overflow: hidden;
}

.ht-member-form {
  padding: 40px 30px 0px 30px;
}

.ht-member-info {
  background-color: #fff;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  color: #999;
  font-size: 12px;
  font-weight: bold;
}

.ht-member-logo {
  text-align: center;
}

.ht-member-logo > div {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: @main-color;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  line-height: 40px;
}

.ht-member-form-group {
  position: relative;
  margin-top: 15px;
}

.ht-member-form-group > input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: solid 1px #888;
}

.ht-member-form-group > input:active,
.ht-member-form-group > input:focus {
  outline: none;
  border-color: @main-color;
}

.ht-member-form-group > i {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  color: #999;
}

.ht-member-form-group input[type=checkbox] {
  margin-top: 3px;
}

.ht-member-form-group .ht-link {
  position: absolute;
  top: 0px;
  right: 0px;
  color: @main-color;
}

.ht-member-btn {
  width: 100%;
  padding: 10px;
  font-size: 12px;
  background-color: @main-color;
  color: #fff;
  border: 0;
  outline: none;
}

.ht-member-btn:hover {
  opacity: 0.7;
}

.ht-member-text-sm {
  padding: 10px;
  font-size: 10px;
  text-align: center;
}

.ht-member-sns {
  text-align: center;
}

.ht-member-sns > li {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 0px 10px;
  border: solid 1px #333;
  color: #555;
  font-size: 20px;
  font-weight: bold;
  line-height: 36px;
  cursor: pointer;
}

.ht-member-text {
  padding: 20px 0px 20px 0px;
  color: #999;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.ht-right-menu {
  padding: 20px;
}

.ht-right-menu-list > li {
  padding: 20px;
  color: #555;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.ht-right-menu-list > li:hover {
  color: #539fa3;
}

.ht-highlight {
  color: @main-color;
}

.ht-link {
  color: #333;
  cursor: pointer;
}

.ht-link:hover {
  color: @main-color;
}

.ht-sign-up {
  display: none;
}

//////////////////////////////

.flow-wrapper {
  position: absolute;
  width: 800px;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

@header-height: 80px;

header {
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
  min-width: @body-min-width;
  width: 100%;
  height: @header-height;
  background-color: #fff;
}

.header-wrapper {
  position: relative;
  margin: 0 auto;
  padding-top: 40px;
  width: 1220px;
  height: 40px;
  box-sizing: content-box;
  z-index: 101;
}

.navicon {
  display: inline-block;
  margin-right: 15px;
  font-size: 30px;
  vertical-align: top;
  cursor: pointer;
}

.header-logo {
  display: inline-block;
  width: 95px;
  color: @main-color;
  font-size: @logo-size;
  font-weight: bold;
  letter-spacing: @logo-letter-spacing;
  line-height: 0.9;
  cursor: pointer;
}

.btn-wrapper {
  position: relative;
  display: inline-block;
  float: right;
}

.header-search-bar {
  float: left;
  display: none;
  color: #333;
  font-size: 26px;
  border-bottom: solid 1px #666;
}

.header-search-bar > input {
  width: 850px;
  border: none;
  outline: none;
}

.header-search-icon {
  display: inline-block;
  color: #333;
  font-size: 26px;
  cursor: pointer;
}

.header-close-icon {
  color: #999;
  cursor: pointer;
}

.header-close-icon:hover {
  opacity: 0.7;
}

.header-search-icon:hover {
  color: #999;
}

.header-bt {
  display: inline-block;
  width: 140px;
  height: 40px;
  float: right;
  text-align: center;
  margin-left: 35px;
  font-size: 18px;
  color: #353744;
  background-color: transparent;
  letter-spacing: 0;
  border: 1px solid #4a4a4a;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

.header-bt:hover {
  color: #999;
}

@footer-bg-color: #434656;

body footer {
  margin-top: 50px;
}

footer {
  position: relative;
  display: inline-block;
  min-width: @body-min-width;
  width: 100%;
  background-color: @footer-bg-color;
  color: #fff;
  z-index: 55;
}

.footer-wrapper {
  position: relative;
  width: @body-min-width;
  margin: 0 auto;
  padding: 70px 0 110px;
}

.footer-logo-sns {
  position: relative;
  width: 618px;
  float: left;
}

.footer-logo {
  width: 93px;
  font-size: @logo-size;
  font-weight: bold;
  letter-spacing: @logo-letter-spacing;
}

.footer-sns-icon {
  margin-top: 20px;
}

.footer-sns-icon > li {
  margin-right: 30px;
  font-size: 23px;
  float: left;
  cursor: pointer;
}

.footer-info {
  padding-top: 50px;
  clear: both;
  line-height: 1.4;
  opacity: 0.6;
  font-size: 12px;
  font-weight: bold;
}

.footer-info > span {
  cursor: pointer;
}

.footer-info > p {
  padding-top: 60px;
}

.footer-notice {
  width: 130px;
  font-size: 12px;
  font-weight: bold;
  opacity: 0.6;
  float: left;
}

.footer-notice > li {
  padding-bottom: 10px;
  cursor: pointer;
}

.select-box {
  position: absolute;
  top: 240px;
  left: 620px;
  z-index: 1000;
}

.select-lang {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.select-lang > li {
  margin-bottom: 10px;
}

.select-btn {
  display: none;
}

.select-btn.active {
  display: inline-block;
}

.icon-lang {
  width: 15px;
  height: 15px;
  margin-right: 6px;
}

.name-lang {
  width: auto;
  margin-right: 20px;
}

.name-lang:hover {
  color: #999;
}

.lang-eng {
  display: none;
}

.footer-right-box {
  position: relative;
  width: 200px;
  float: right;
}

.footer-right-box > li {
  padding-bottom: 10px;
  list-style: none;
  float: right;
}

@badge-height: 54px;

.google-badge {
  height: @badge-height;
  cursor: pointer;
}

.apple-badge {
  height: @badge-height;
  cursor: pointer;
}

.editor-thumbnail {
  display: inline-block;
  width: 34px;
  height: 34px;
  background-size: cover;
  border-radius: 17px;
  vertical-align: middle;
}
