@import 'common.less';

.main-intro {
  margin: 0 auto;
  width: @body-min-width;
  z-index: 100;
}

.intro-top {
  position: relative;
  width: 1220px;
  margin: 40px auto 0;
}

.main-text {
  float: left;
  width: 50%;
  padding: 10% 2.733%;
  background: url(../img/harubang.png) 424px 208px no-repeat;
  background-size: 132px 139px;
}

.text-title {
  margin-bottom: -30px;
  font-weight: 500;
  font-size: 50px;
  color: #000;
}

.text-yolo {
  width: 394px;
  margin-top: 10px;
  display: inline-block;
  font-weight: 700;
  text-align: right;
}

.text-msg-wrapper {
  padding-top: 54px;
  text-align: left;
}

.text-msg {
  float: left;
  padding-left: 37px;
  text-align: left;
  line-height: 1.6;
  font-size: 15px;
  font-weight: bold;
  color: #414040;
  width: 338px;
}

.main-event {
  width: 50%;
  float: right;
  cursor: pointer;
}

.main-tag {
  display: inline-block;
  width: 100%;
  height: 220px;
  text-align: center;
  margin-top: 20px;
}

.main-tag > li {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 100%;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  background-size: cover;
  border-right: solid 20px #fff;
  line-height: 216px;
  cursor: pointer;
}

.main-tag > li:last-child {
  width: 600px;
  border-right: 0px;
}

.main-mid {
  display: inline-block;
  min-width: @body-min-width;
  width: 100%;
  height: 300px;
  margin: 40px 0px 20px 0px;
  background-color: #f2f9fb;
  text-align: center;
}

.main-country, .country {
  display: inline-block;
}

.main-country {
  position: relative;
  margin-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  border-left: 2px solid #c2c7c9;
}

.main-country:first-child {
  border-left: 0;
}

.conti-name {
  position: absolute;
  left: 30px;
  top: -10px;
  font-size: 22px;
  font-weight: bold;
}

.country-img {
  float: left;
  padding-top: 40px;
}

.country {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}

.country > li {
  padding-left: 15px;
  padding-bottom: 10px;
  cursor: pointer;
}

.main-contents-wrapper {
  margin: 0 auto;
  width: @body-min-width;
}

.section-review-text {
  display: inline-block;
  width: 280px;
  height: 400px;
  text-align: left;
  letter-spacing: -1px;
  border-top: solid 1px #333;
}

.contents-country {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
}

.contents-title {
  margin-top: 10px;
  font-size: 34px;
}

.contents-sub-title {
  margin-top: 20px;
  color: #888;
  font-size: 16px;
  font-weight: bold;
}

.contents-more {
  display: inline-block;
  margin-top: 100px;
  color: @main-color;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.main-section-review {
  display: inline-block;
}

.main-section-review > li {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  width: 280px;
  height: 400px;
  text-align: left;
  letter-spacing: -1px;
  cursor: pointer;
}

.contents-review-img {
  position: relative;
  height: 50%;
  background-size: cover;
  background-position: center;
}

.contents-review-text {
  height: 50%;
}
.contents-review-title {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.contents-review-sub-title {
  width: 200px;
  height: 40px;
  margin-top: 10px;
  color: #888;
  font-size: 14px;
  font-weight: bold;
}

.contents-review-editor {
  margin-top: 30px;
}

.editor-id {
  display: inline-block;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
}

.contents-each {
  position: absolute;
  display: inline-block;
  top: 10px;
  left: 15px;
  padding: 2px 10px;
  background-color: @main-color;
  border-radius: 5px;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
}

.main-bottom {
  position: relative;
  min-width: @body-min-width;
  width: 100%;
  margin: 20px 0px 20px 0px;
  text-align: center;
}

.bottom-writer {
  display: inline-block;
  width: @body-min-width;
  border-top: solid 1px #333;
}

.bottom-writer-text {
  margin-top: 60px;
  font-size: 28px;
  line-height: 100px;
  float: left;
}

.bottom-writer-text > span {
  padding-bottom: 5px;
  font-weight: bold;
  color: @main-color;
  border-bottom: solid 2px @main-color;
}

.bottom-writer-img-left {
  margin: 60px 0px 0px 80px;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  float: left;
}

.bottom-writer-img-right {
  margin: 60px 80px 0px 0px;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  float: right;
}

.bottom-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.bottom-prev, .bottom-next {
  position: absolute;
  top: 50px;
  width: 75px;
  cursor: pointer;
}

.bottom-prev {
  left: 50%;
  margin-left: -610px;
}

.bottom-next {
  right: 50%;
  margin-right: -610px;
}

.bottom-wrapper {
  position: relative;
}

.bottom-user {
  display: inline-block;
}

.user-info {
  width: auto;
  margin-right: 54px;
  font-weight: bold;
  text-align: center;
  float: left;
  cursor: pointer;
}

.user-img {
  width: 130px;
  height: 130px;
  background-size: cover;
  border-radius: 65px;
}

.user-id {
  margin-top: 20px;
  font-size: 18px;
}

.user-text {
  width: 130px;
  font-size: 15px;
  color: #666;
  padding-bottom: 12px;
  border-bottom: solid 1px #ddd;
}

.user-travel > span {
  color: #888;
  font-size: 11px;
  font-weight: bold;
}

.user-travel-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-top: 12px;
  background-size: cover;
  border-radius: 9px;
  vertical-align: bottom;
}

.go-top-btn {
  position: fixed;
  right: 200px;
  bottom: 20px;
  width: 100px;
  height: 40px;
  font-size: 16px;
  background-color: #fff;
  color: #666;
  border-radius: 50px;
  border: solid 1px #ddd;
  outline: none;
  z-index: 5000;
}

.go-top-btn:hover {
  color: #fff;
  background-color: @footer-bg-color;
}
