@import 'common';

section {
  margin-top: 80px;
}

.search-tabs {
  position: relative;
}

.search-tab-btns {
  max-width: @body-min-width;
  width: @body-min-width;
  height: 50px;
  margin: 0 auto;
}

.search-tab-btns > li {
  display: inline-block;
  width: 50%;
  height: 100%;
  color: #333;
  font-size: 22px;
  font-weight: bold;
  float: left;
  text-align: center;
  cursor: pointer;
}

.search-tab-btns > li.active {
  //border-bottom: solid 2px @main-color;
}

.search-tab-contents {
  border-top: solid 1px #999;
  font-weight: bold;
  text-align: center;
}

.search-tab-contents > li {
  display: none;
}

.search-tab-contents > li.active {
  display: block;
}





























