<li class="main-country">
    <div class="conti-name">
        {{{name}}}
    </div>
    <img class="country-img" src="{{img}}">
    <ul class="country">
        {{#each subMenus}}
            <li>{{name}}</li>
        {{/each}}
    </ul>
</li>