<div class="user-info">
    <div class="user-img"
         style="background-image: url({{img}})">
    </div>
    <div class="user-id">{{id}}</div>
    <div class="user-text">{{text}}</div>
    <div class="user-travel">{{travel}}</div>
</div>