<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> ../template/admin/navmenu group-h="true" area-group="true"}}
<div class="admin-contents">
    <div>지역관리</div>
    <table class="table ha-area-groups">
        <thead>
        <tr>
            <th>No</th>
            <th>지역ID</th>
            <th>지역명</th>
            <th>제목</th>
            <th>부제목</th>
            <th>컨텐츠수</th>
            <th>작성시간</th>
        </tr>
        </thead>
        <tbody>
            <!-- ha-area.hbs -->
        </tbody>
    </table>
    <div class="ha-btns">
        <button class="ha-area-add btn btn-primary">추가</button>
    </div>
</div>
</body>
</html>