<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> ../template/admin/navmenu group-h="true" area-group="true"}}
<div class="admin-contents">
    <div>지역관리</div>
    <table class="table ha-area-groups">
        <thead>
        <tr>
            <th>No</th>
            <th>지역ID</th>
            <th>지역명</th>
            <th>제목</th>
            <th>부제목</th>
            <th>컨텐츠수</th>
            <th>작성시간</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>france</td>
                <td>프랑스</td>
                <td>진정한 빠리지앵<br>
                    이 되고싶다면</td>
                <td>와인 한 잔, 그리고 바게트와<br>
                    함께하는 여행기</td>
                <td>6</td>
                <td>2017.07.29 14:53:30</td>
            </tr>
        </tbody>
    </table>
    <div class="ha-btns">
        <button class="ha-area-add btn btn-primary">추가</button>
    </div>
</div>
</body>
</html>