<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> ../template/admin/navmenu group-h="true" area-contents="true"}}
<div class="admin-contents">
    지역 컨텐츠
</div>
</body>
</html>