<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>HT Admin</title>
    <base href="/admin/">
</head>
<body>
{{> ../template/admin/navmenu}}
<div class="admin-contents">
    <div class="ha-temp-title">관리자홈</div>
</div>
</body>
</html>