<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title }}</title>
</head>
<body>
{{> template/header}}
<section class="main-intro">
    <div class="main-intro-top">
        <div class="main-text">
            <div class="text-title">여행을 쓰자,<br>
                <span class="text-yolo">욜로</span>
            </div>
            <div class="text-msg">
                여행의 소중한 순간을 욜로에 담아보세요. <br>
                메모, 사진 경로, 위치를 간편하게 작성하면, <br>
                욜로가 멋진 여행기를 만들어 드립니다.
            </div>
            <img class="text-img" src="./img/harubang.png">
        </div>
        <div class="main-event">
            <img class="event-img" src="./img/banner-event.png">
        </div>
    </div>
    <div class="main-intro-bottom">
        <ul class="main-tag">
            <li style="background-image: url(./img/holo.jpg)">
                <div class="dark-layer">
                    #나홀로여행
                </div>
            </li>
            <li style="background-image: url(./img/eat.png)">
                <div class="dark-layer">
                    #먹방여행
                </div>
            </li>
            <li style="background-image: url(./img/banner-tip.png)">
                <div class="dark-layer">
                    욜로 사용법
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="main-mid">
    <ul class="main-mid-country">
    </ul>
</section>
<section class="main-contents">
    <div class="section-review-text">
        <div class="contents-country">프랑스</div>
        <div class="contents-title">진정한 빠리지앵 <br>
            이 되고싶다면
        </div>
        <div class="contents-sub-title">와인 한 잔, 그리고 바게트와 <br>
            함께하는 여행기
        </div>
        <div class="contents-more">+ 더보기</div>
    </div>
    <ul class="main-section-review">
    </ul>
</section>
<section class="main-bottom">
    <div class="bottom-writer">
        <div class="bottom-writer-img"
             style="background-image: url(./img/rabbit.png)">
        </div>
        <div class="bottom-writer-text">
            당신도 지금 욜로에서 <span>여행작가</span>가 될 수 있습니다
        </div>
        <div class="bottom-writer-img"
             style="background-image: url(./img/airport.png)">
        </div>
    </div>
    <div class="bottom-wrapper">
        <div class="bottom-prev">
            <i class="glyphicon glyphicon-menu-left"></i>
        </div>
        <div class="bottom-user">
        </div>
        <div class="bottom-next">
            <i class="glyphicon glyphicon-menu-right"></i>
        </div>
    </div>
    <button class="go-top-btn">▲ TOP</button>
</section>
{{> template/footer}}
</body>
</html>
