<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title }}</title>
</head>
<body>
{{> template/header}}
<section class="main-intro">
    <div class="main-top">
        <div class="main-text">
            <div class="text-title">여행을 쓰자,<br>
                <span class="text-yolo">욜로</span>
            </div>
            <div class="text-msg">
                여행의 소중한 순간을 볼로에 담아보세요. <br>
                메모, 사진 경로, 위치를 간편하게 작성하면, <br>
                볼로가 멋진 여행기를 만들어 드립니다.
            </div>
            <img class="text-img" src="./img/harubang.png">
        </div>
        <div class="main-event">
            <img class="event-img" src="./img/banner-event.png">
        </div>
        <ul class="main-tag">
            <li style="background-image: url(./img/holo.jpg)">
                <div class="dark-layer">
                    #나홀로여행
                </div>
            </li>
            <li style="background-image: url(./img/eat.png)">
                <div class="dark-layer">
                    #먹방여행
                </div>
            </li>
            <li style="background-image: url(./img/banner-tip.png)">
                <div class="dark-layer">
                    욜로 사용법
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="main-mid">
    <ul>
        <li class="main-country">
            <div class="conti-name">Europe</div>
            <img class="country-img" src="./img/europe.png">
            <ul class="country">
                <li>스페인</li>
                <li>프랑스</li>
                <li>영국</li>
                <li>이태리</li>
                <li>독일</li>
                <li>포르투갈</li>
            </ul>
        </li>
        <li class="main-country">
            <div class="conti-name">America&<br>Oceania</div>
            <img class="country-img" src="./img/america.png">
            <ul class="country">
                <li>미국</li>
                <li>캐나다</li>
                <li>호주</li>
                <li>뉴욕</li>
                <li>멕시코</li>
                <li>쿠바</li>
            </ul>
        </li>
        <li class="main-country">
            <div class="conti-name">Asia</div>
            <img class="country-img" src="./img/asia.png">
            <ul class="country">
                <li>일본</li>
                <li>대만</li>
                <li>홍콩</li>
                <li>태국</li>
                <li>베트남</li>
                <li>싱가폴</li>
            </ul>
        </li>
    </ul>
</section>
<section class="main-contents">
    <ul class="main-section-review">
        <div class="section-review-text">
            <div class="contents-country">프랑스</div>
            <div class="contents-title">진정한 빠리지앵 <br>
                이 되고싶다면
            </div>
            <div class="contents-sub-title">와인 한 잔, 그리고 바게트와 <br>
                함께하는 여행기
            </div>
            <div class="contents-more">+ 더보기</div>
        </div>
        <li>
            <div class="contents-review-img"
                 style="background-image: url(./img/view.jpg)">
            </div>
            <div class="contents-review-text">
                <div class="contents-review-title">
                    스물 셋, 그림속을 거닐다.
                </div>
                <div class="contents-review-sub-title">
                    #유럽 #나홀로여행 #프랑스 #여름이야기 #전국일주
                </div>
                <ul class="contents-review-editor">
                    <li class="editor-thumbnail"
                        style="background-image: url(img/shk.jpg)">
                    </li>
                    <li class="editor-id">중기부인</li>
                </ul>
            </div>
        </li>
        <li>
            <div class="contents-review-img"
                 style="background-image: url(./img/france.jpg)">
                <div class="contents-each">함께쓴여행</div>
            </div>
            <div class="contents-review-text">
                <div class="contents-review-title">
                    프랑스~모로코
                </div>
                <div class="contents-review-sub-title">

                </div>
                <ul class="contents-review-editor">
                    <li class="editor-thumbnail"
                        style="background-image: url(img/shk.jpg)">
                    </li>
                    <li class="editor-id">혜교에요</li>
                </ul>
            </div>
        </li>
        <li>
            <div class="contents-review-img"
                 style="background-image: url(./img/eftower.jpg)">
            </div>
            <div class="contents-review-text">
                <div class="contents-review-title">
                    Je t'aime, Paris!
                </div>
                <div class="contents-review-sub-title">
                    #여행을쓰자 #파리 #프랑스 #여름이야기 #유럽
                </div>
                <ul class="contents-review-editor">
                    <li class="editor-thumbnail"
                        style="background-image: url(img/shk.jpg)">
                    </li>
                    <li class="editor-id">SHKLOVESJK</li>
                </ul>
            </div>
        </li>
    </ul>
</section>
<section class="main-contents">
    <ul class="main-section-review">
        <div class="section-review-text">
            <div class="contents-country">프랑스</div>
            <div class="contents-title">진정한 빠리지앵 <br>
                이 되고싶다면
            </div>
            <div class="contents-sub-title">와인 한 잔, 그리고 바게트와 <br>
                함께하는 여행기
            </div>
            <div class="contents-more">+ 더보기</div>
        </div>
        <li>
            <div class="contents-review-img"
                 style="background-image: url(./img/view.jpg)">
            </div>
            <div class="contents-review-text">
                <div class="contents-review-title">
                    스물 셋, 그림속을 거닐다.
                </div>
                <div class="contents-review-sub-title">
                    #유럽 #나홀로여행 #프랑스 #여름이야기 #전국일주
                </div>
                <ul class="contents-review-editor">
                    <li class="editor-thumbnail"
                        style="background-image: url(img/shk.jpg)">
                    </li>
                    <li class="editor-id">중기부인</li>
                </ul>
            </div>
        </li>
        <li>
            <div class="contents-review-img"
                 style="background-image: url(./img/france.jpg)">
                <div class="contents-each">함께쓴여행</div>
            </div>
            <div class="contents-review-text">
                <div class="contents-review-title">
                    프랑스~모로코
                </div>
                <div class="contents-review-sub-title">

                </div>
                <ul class="contents-review-editor">
                    <li class="editor-thumbnail"
                        style="background-image: url(img/shk.jpg)">
                    </li>
                    <li class="editor-id">혜교에요</li>
                </ul>
            </div>
        </li>
        <li>
            <div class="contents-review-img"
                 style="background-image: url(./img/eftower.jpg)">
            </div>
            <div class="contents-review-text">
                <div class="contents-review-title">
                    Je t'aime, Paris!
                </div>
                <div class="contents-review-sub-title">
                    #여행을쓰자 #파리 #프랑스 #여름이야기 #유럽
                </div>
                <ul class="contents-review-editor">
                    <li class="editor-thumbnail"
                        style="background-image: url(img/shk.jpg)">
                    </li>
                    <li class="editor-id">SHKLOVESJK</li>
                </ul>
            </div>
        </li>
    </ul>
</section>
<section class="main-contents">
    <ul class="main-section-review">
        <div class="section-review-text">
            <div class="contents-country">프랑스</div>
            <div class="contents-title">진정한 빠리지앵 <br>
                이 되고싶다면
            </div>
            <div class="contents-sub-title">와인 한 잔, 그리고 바게트와 <br>
                함께하는 여행기
            </div>
            <div class="contents-more">+ 더보기</div>
        </div>
        <li>
            <div class="contents-review-img"
                 style="background-image: url(./img/view.jpg)">
            </div>
            <div class="contents-review-text">
                <div class="contents-review-title">
                    스물 셋, 그림속을 거닐다.
                </div>
                <div class="contents-review-sub-title">
                    #유럽 #나홀로여행 #프랑스 #여름이야기 #전국일주
                </div>
                <ul class="contents-review-editor">
                    <li class="editor-thumbnail"
                        style="background-image: url(img/shk.jpg)">
                    </li>
                    <li class="editor-id">중기부인</li>
                </ul>
            </div>
        </li>
        <li>
            <div class="contents-review-img"
                 style="background-image: url(./img/france.jpg)">
                <div class="contents-each">함께쓴여행</div>
            </div>
            <div class="contents-review-text">
                <div class="contents-review-title">
                    프랑스~모로코
                </div>
                <div class="contents-review-sub-title">

                </div>
                <ul class="contents-review-editor">
                    <li class="editor-thumbnail"
                        style="background-image: url(img/shk.jpg)">
                    </li>
                    <li class="editor-id">혜교에요</li>
                </ul>
            </div>
        </li>
        <li>
            <div class="contents-review-img"
                 style="background-image: url(./img/eftower.jpg)">
            </div>
            <div class="contents-review-text">
                <div class="contents-review-title">
                    Je t'aime, Paris!
                </div>
                <div class="contents-review-sub-title">
                    #여행을쓰자 #파리 #프랑스 #여름이야기 #유럽
                </div>
                <ul class="contents-review-editor">
                    <li class="editor-thumbnail"
                        style="background-image: url(img/shk.jpg)">
                    </li>
                    <li class="editor-id">SHKLOVESJK</li>
                </ul>
            </div>
        </li>
    </ul>
</section>
<section class="main-bottom">
    <div class="bottom-writer">
        <div class="bottom-writer-img"
             style="background-image: url(./img/rabbit.png)">
        </div>
        <div class="bottom-writer-text">
            당신도 지금 욜로에서 <span>여행작가</span>가 될 수 있습니다
        </div>
        <div class="bottom-writer-img"
             style="background-image: url(./img/airport.png)">
        </div>
    </div>
    <div class="bottom-user">
        <div class="bottom-prev">
            <i class="glyphicon glyphicon-menu-left"></i>
        </div>
        <div class="user-info">
            <div class="user-img"
                 style="background-image: url(img/shk.jpg)">
            </div>
            <div class="user-id">Hanvit</div>
            <div class="user-text">일상을 여행처럼 여행을 일상처럼</div>
            <div class="user-travel">12345678</div>
        </div>
        <div class="user-info">
            <div class="user-img"
                 style="background-image: url(./img/mcw.jpg)">
            </div>
            <div class="user-id">Hanvit</div>
            <div class="user-text">일상을 여행처럼 여행을 일상처럼</div>
            <div class="user-travel">12345678</div>
        </div>
        <div class="user-info">
            <div class="user-img"
                 style="background-image: url(./img/ireane.jpg)">
            </div>
            <div class="user-id">Hanvit</div>
            <div class="user-text">일상을 여행처럼 여행을 일상처럼</div>
            <div class="user-travel">12345678</div>
        </div>
        <div class="user-info">
            <div class="user-img"
                 style="background-image: url(./img/jennie.jpg)">
            </div>
            <div class="user-id">Hanvit</div>
            <div class="user-text">일상을 여행처럼 여행을 일상처럼</div>
            <div class="user-travel">12345678</div>
        </div>
        <div class="user-info">
            <div class="user-img"
                 style="background-image: url(./img/iu.jpg)">
            </div>
            <div class="user-id">Hanvit</div>
            <div class="user-text">일상을 여행처럼 여행을 일상처럼</div>
            <div class="user-travel">12345678</div>
        </div>
        <div class="bottom-next">
            <i class="glyphicon glyphicon-menu-right"></i>
        </div>
    </div>
</section>
{{> template/footer}}
</body>
</html>
