<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>여행을 쓰자, 욜로</title>
</head>
<body>
  {{> template/header}}
  <div class="main-contents">

  </div>
  {{> template/footer}}
</body>
</html>
