<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>비밀번호를 잊으셨나요? - 욜로</title>
</head>
<body>
{{> template/header }}
<section class="pwd-section">
    <div class="pwd-wrapper">
        <div class="pwd-text">
            <div class="pwd-title">비밀번호를 잊으셨나요?</div>
            <div class="pwd-desc">
                아래에 등록하신 이메일 주소를 입력해 주시면<br>
                재설정을 위한 이메일을 보내드리겠습니다
            </div>
        </div>
        <div class="pwd-input-wrapper">
            <div class="pwd-email-wrapper">
                <div class="pwd-email-title">이메일</div>
                <input type="email" placeholder="E-mail">
            </div>
        </div>
        <div class="pwd-btn-wrapper">
            <button class="pwd-btn">이메일 받기</button>
        </div>
    </div>
</section>
{{> template/footer }}
</body>
</html>
