<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title }}</title>
</head>
<body>
{{> template/header}}
<section>
    <div class="search-tabs">
        <ul class="search-tab-btns">
            <li class="active">여행기</li>
            <li>사용자</li>
        </ul>
        <ul class="search-tab-contents">
            <li class="active">
                개어렵다.....
            </li>
            <li>
                옘병
            </li>
        </ul>
    </div>
</section>
{{> template/footer}}
</body>
</html>