<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title }}</title>
</head>
<body>
{{> template/header}}
<section>
    <div class="search-tabs">
        <ul class="search-tab-btns">
            <li class="active">여행기</li>
            <li>사용자</li>
        </ul>
        <ul class="search-tab-contents">
            <li class="active">
                <div class="search-contents-tap">

                </div>
            </li>
            <li>

            </li>
        </ul>
    </div>
</section>
{{> template/footer}}
</body>
</html>