<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title }}</title>
</head>
<body>
{{> template/header}}
<section>
    <div class="search-tabs">
        <ul class="search-tab-btns">
            <li class="active">여행기</li>
            <li>사용자</li>
        </ul>
        <ul class="search-tab-contents">
            <li class="active">
                <div class="search-contents-tap">
                    <div class="search-content-wrapper">
                        <div class="search-content-left">
                            <div class="search-content-img">
                                <img src="./img/img01.jpg">
                            </div>
                            <div class="search-content-userInfo">
                                <div>
                                    <img class="editor-thumbnail" src="./img/user/ireane.jpg">
                                    <span>kaeunlovestrip</span>
                                </div>
                            </div>
                        </div>
                        <div class="search-content-right">
                            <div class="search-content-text">
                                <div class="search-content-title">
                                    혼자서도 괜찮은 바르셀로나
                                </div>
                                <div class="search-content-summary">
                                    바르셀로나에서 운이 어쩌고 저쩌고 저쩌고 저쩌고 어쩌고
                                </div>
                            </div>
                            <div class="search-content-etc">
                                <ul class="search-content-route">
                                    <li>인천국제공항</li>
                                    <li>바르셀로나 공항</li>
                                    <li>하마드 공항</li>
                                    <li>바르셀로나 숙소</li>
                                    <li>에어비엔비 숙소</li>
                                </ul>
                                <div class="search-content-hashtag">
                                    #스페인 #바르셀로나 #성공적..
                                </div>
                                <div class="search-content-date">
                                    2017.05.18 - 2017.05.25
                                </div>
                            </div>
                        </div>
                        <div class="search-tap-like">
                            <i class="fa fa-heart-o"></i>
                            <span>8</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>

            </li>
        </ul>
    </div>
</section>
{{> template/footer}}
</body>
</html>