<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{{> template/header }}
<section class="ha-userpage">
    <div class="ha-user-info">
        <!-- user-pages.hbs db 연동 함 -->
    </div>
</section>
{{> template/footer }}
</body>
</html>
