<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{{> template/header }}
<section class="with-user-info">
    <!-- user-pages.hbs -->
</section>
{{> template/footer }}
</body>
</html>