<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>아이유 - 욜로</title>
</head>
<body>
{{> template/header }}
<section class="with-user-info">
    <div class="with-user-profile">
        <!-- model/users/user01.js -->
    </div>
        <ul class="with-user-contents">
            <!-- model/user/diary.js -->
        </ul>
</section>
{{> template/footer }}
</body>
</html>